.note-wrapper{
  position: absolute;
  margin: 10px;
}

.close-wrapper{
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(-100%, -100%);

}
.close-icon{
  background-color: transparent;
  color: #000;
  border: none;
  outline: none;
  cursor: pointer;
}

.notes-block{
  display: flex;
  background-color: #2F4F4FFF;
}

.input-block{
  display: flex;
}

.note-button{
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

.submitted-text {
  display: flex;
  background-color: yellow;
}

.submitted-image {
  width: 120px;
  height: 120px;
  background-color: yellow;
  padding: 10px;
}

.submitted-image img{
  width: 100%;
  height: 100%;
}
