<div class="header-container">
<div class="container header-wrapper">
  <div class="logo-wrapper">
    <a class="logo" routerLink="/">test doc</a>
  </div>
  <div class="zoom-wrapper" *ngIf="isZoomDisplayed">
    <p class="zoom-value">{{ zoomValue }}</p>
    <button class="zoom-button" (click)="setZoomDecrease()">
      -
    </button>
    <button class="zoom-button" (click)="setZoomIncrease()">
      +
    </button>
    <button class="zoom-button save-zoom" (click)="onButtonClick()">
      save
    </button>
  </div>
</div>
</div>

