.document-container {
  background-color: #a9a9a9;
  padding: 100px;
  width: 100%;
}
.document-image{
  text-align: center;
  padding-bottom: 20px;
}

.positioned-component {
  position: absolute;
  background-color: transparent;
  padding: 10px;
  z-index: 20;
}
